server:
  port: 8070
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
spring:
  application:
    name: zuul-gateway
zuul:
  routes:
    user:
      path: /user/**
      serviceId: user-server
    order:
      path: /order/**
      serviceId: order-server